{% extends "layout/base.html" %}
{% block content %}
<html lang="en">
    <meta charset="UTF-8">
    <title>{{ biodata.name }}</title>
	<h1>Profile</h1>
<h2 style="text-align: center">
	<div>
		<img class="img-circle" src="https://i.imgur.com/TF1NdQL.png"; border="0" style="float:center;width:260px;height:260px:border-radius:50%;margin-top:30px;"/>
		<p>{{ biodata.name }}</p>
	</div>
</h2>
	<table align="center" style="text-align:left">
		<tr>
			<td>Birthday	: {{ biodata.birthday }}</td>
		</tr>
		<tr>
			<td>Gender		: {{ biodata.gender }}</td>
		</tr>
		<tr>
			<td>Expertise	: {{ biodata.expertise }}</td>
		</tr>
		<tr>
			<td>Description	: {{ biodata.description }}</td>
		</tr>
		<tr>
			<td>Email		: {{ biodata.email }}</td>
		</tr>
	</table>
</html>
{% endblock %}
