{% extends "layout/status_base.html" %}

{% block content %}
<h1 class="main-title">Update Status</h1>
<hr/>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'update-status:update_status_todo' %}">
			<font size = "3">
            {% csrf_token %}
            {{ todo_form }}
			</font>
			<p align="right">
            <input id="submit" type="submit" class="btn btn-lg btn-info" value="Post"></p>
            <br>
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">Status List</h2>
        <div class="flex">
            {% if todo %}
                {% for data in todo reversed %}
                    <div class="flex-item">
                        <div class="post-list" style="border: solid 1px #29447E; background:#FFF8DC; padding: 15px; margin: 0; text-align: justify">
							<br>
							<div id="container" style="white-space:nowrap">
								<div id="image" style="display:inline;">
									<img src="https://www.artmajeur.com/medias/standard/s/p/spuggy/artwork/1661409_meryl_streep.jpg" width=30 height=30/>
								</div>
								<div id="texts" style="display:inline; white-space:nowrap;">
									<font size ="4">
									<b>Hepzibah Smith </b>
									</font>
								</div>
							</div>​
                            <div class="post-fill-list">
								<font size = "3">
                                {{data.fill}}
								</font>
                            </div>
							<div id = "container" style="white-space:nowrap">
								<div class="post-list-date-added" style="display:inline;">
									<font color = "gray" size = "2">
									{{data.created_date}}
									</font>
								</div>
								<form id="form-{{data.id}}" method="post" action="{% url 'update-status:remove_todo' %}" style="display:inline; white-space:nowrap;">
								{% csrf_token %}
								<input type="hidden" name="flag" value="{{data.id}}" />
								<input id = "submit{{data.id}}" id="delete-{{data.id}}" type="submit" data-id="{{data.id}}" value="Delete" class="to-do-list-delete">
								</form>
							</div>
							<br>
						</div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Todo.
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}