{% extends "layout/base.html" %}
{% load static %}

{% block title %}Friends{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_friend.css' %}" />
{% endblock %}

{% block content %}
<section name="form" id="input-list">	
	<h2 class="my-list-title">Add Friend</h2>
	<div class="container">
		<form id="form" method="POST" action="{% url 'friends:add_friend' %}">
			{% csrf_token %}
			{% for field in friend_form %}
				<div class="form-group row">
					<label class="col-2 col-form-label" for="{{ field.name }}">{{ field.label }}</label>
					<div class="col-10">{{ field }}</div>
				</div>
			{% endfor %}
			<br>
			<div align="center" id="add_friend">
				<button type="submit" class="btn btn-info btn-block">Add Friend</button>
			</div>
		</form>
	</div>
</section>
<br>
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">Friend List</h2>
        <div class="flex">
            {% if friend %}
                {% for data in friend %}
                    <div class="flex-item">
                        <div class="to-do-list">
							<div class="to-do-list-picture">
								<img class="rounded-circle" src="{% static 'img/blank-profile-picture-973461_960_720.png' %}" 
									width="200" height="200"/>
							</div>
                            <div class="to-do-list-title">
                                {{data.name}}
                            </div>
                            <div class="to-do-list-date-added">
								Added on {{ data.created_date.date }} {{ data.created_date.time }}
                            </div>
                            <div class="to-do-list-description">
                                <a href="{{data.url}}">{{data.url}}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data teman.
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}