{% extends "layout/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <style>
        #aaa{
            margin-top: 7px;
            font-size: 30px;
            font-family: Arial, sans-serif;
            color: black;
        }
        #texts{
            margin-top: 10px;
            font-family: Arial, sans-serif;
            color: black;
        }
        #texts2{
            font-size: 20px;
            font-family: Arial, sans-serif;
            color: black;
        }
        #texts3{
            font-size: 20px;
            font-family: Arial, sans-serif;
            color: black;
        }
        #texts4{
            font-size: 20px;
            font-family: Arial, sans-serif;
            color: black;
        }
        #texts5{
            font-size: 20px;
            font-family: Arial, sans-serif;
            color: black;
        }
        #footer{
            font-family: Arial, sans-serif;
            color: black;
        }
        .post-fill-list{
            font-family: Arial, sans-serif;
            color: black;
        }
    </style>
    <body>
        <h2 id="aaa">Statistic</h2>
        <hr/>
        <div id="container1" style="white-space:nowrap">
            <div id="image" style="display:inline;border-radius:50%">
                <img class="img-circle" src="https://i.imgur.com/TF1NdQL.png" width=100px height=100px/>
            </div>
            <div id="texts" style="display:inline; white-space:nowrap;">
                <font size ="8">
                <b>{{author}}</b>
                </font>
            </div>
        </div>​
        <p>
            <h3 id="texts2"><strong>Change Theme</strong></h3>
            <button type="button" onclick="myFunction1()">Theme 1
            </button> 
            <button type="button2" onclick="myFunction2()">Theme 2</button>
            <h3 id="texts3"><strong>Friends</strong>     : {{friend}} People</h3>
            <h3 id="texts4"><strong>Feed</strong>       : {{feed}} Post</h3>
            <h3 id="texts5"><strong>Latest Post</strong> </h3>
            <section name="my-list" id="my-list">
    <div class="container">
        <div class="flex">
            {% if lastfeed %}
                    <div class="flex-item">
                        <div id = "bgPost"class="post-list" style="border: solid 1px #29447E; background-color:#FFF8DC; padding: 15px; margin: 0; text-align: justify">
							<br>
							<div id="container2" style="white-space:nowrap">
								<div id="image" style="display:inline;">
									<img src="https://i.imgur.com/TF1NdQL.png" width=30 height=30/>
								</div>
								<div id="texts" style="display:inline; white-space:nowrap;">
									<font size ="4">
									<b>{{author}}</b>
									</font>
								</div>
							</div>​
                            <div class="post-fill-list">
								<font size = "3">
                                {{lastfeed.fill}}
								</font>
                            </div>
							<div id = "container" style="white-space:nowrap">
								<div class="post-list-date-added" style="display:inline;">
									<font color = "gray" size = "2">
									{{lastfeed.created_date}}
									</font>
								</div>
							</div>
							<br>
						</div>
                    </div>
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Todo.
            </div>
            {% endif %}
        </div>
    </div>
</section>
        </p>   
        <script>function myFunction1(){
                document.getElementById("aaa").style.color="white";
                document.getElementById("aaa").style.fontFamily="Georgia,serif";
                document.getElementById("texts").style.fontFamily="Georgia,serif";
                document.getElementById("texts2").style.fontFamily="Georgia,serif";
                document.getElementById("texts3").style.fontFamily="Georgia,serif";
                document.getElementById("texts4").style.fontFamily="Georgia,serif";
                document.getElementById("texts5").style.fontFamily="Georgia,serif";
                document.getElementById("footer").style.fontFamily="Georgia,serif";
                document.getElementById("texts").style.color="white";
                document.getElementById("texts2").style.color="white";
                document.getElementById("texts3").style.color="white";
                document.getElementById("texts4").style.color="white";
                document.getElementById("texts5").style.color="white";
                document.getElementById("footer").style.color="white";
                document.getElementById("bbb").style.backgroundColor="black";
                document.getElementById("bgPost").style.backgroundColor="white"
                
        }
            </script>
            <script>function myFunction2(){
                document.getElementById("aaa").style.color="black";
                document.getElementById("aaa").style.fontFamily="Arial,serif";
                document.getElementById("texts").style.fontFamily="Arial,serif";
                document.getElementById("texts2").style.fontFamily="Arial,serif";
                document.getElementById("texts3").style.fontFamily="Arial,serif";
                document.getElementById("texts4").style.fontFamily="Arial,serif";
                document.getElementById("texts5").style.fontFamily="Arial,serif";
                document.getElementById("footer").style.fontFamily="Arial,serif";
                document.getElementById("texts").style.color="black";
                document.getElementById("texts2").style.color="black";
                document.getElementById("texts3").style.color="black";
                document.getElementById("texts4").style.color="black";
                document.getElementById("texts5").style.color="black";
                document.getElementById("footer").style.color="black";
                document.getElementById("bbb").style.backgroundColor="beige"
                document.getElementById("bgPost").style.backgroundColor="#FFF8DC"
            }
            </script>        
    </body>
    </html>
    {% endblock %}